@media only screen and (max-width: 600px) {
    
    /* Radio Buttons */
    
    div.controls input[type="radio"] {
        display: none;
    }
    div.controls input[type="radio"] + label {
        cursor: pointer;
        display: inline-block;
        font-size: 10pt;
        height: 35px;
        width: 100%;
        text-align: center;
        background-color: #3d3d3d;
        color: #fc4c02;
        vertical-align: top;
        line-height: 35px;
    }
    div.controls input[type="radio"]:checked + label {
        background-color: #fc4c02;
        color: #3d3d3d;
    }
    
    /* Checkbox buttons */
    
    div.controls input[type="checkbox"] {
        display: none;
    }
    div.controls input[type="checkbox"] + label {
        cursor: pointer;
        display: inline-block;
        font-size: 10pt;
        height: 35px;
        width: 100%;
        text-align: center;
        background-color: #3d3d3d;
        color: #fc4c02;
        vertical-align: top;
        line-height: 35px;
    }
    div.controls input[type="checkbox"]:checked + label {
        background-color: #fc4c02;
        color: #3d3d3d;
    }
    
    /* Divs that contain buttons */
    
    div.controls div.button {
        display: inline-block;
        vertical-align: top;
        width: 31%;
        line-height: 35px;
        margin: 3px;
    }
    div.controls div.blank {
        border: 1px dotted #575757;
        color: #575757;
        font-size: 10pt;
    }
    div.controls div.term p {
        width: 100%;
        color: white;
        font-size: 125%;
        font-weight: bold;
        margin-top: 25px;
    }
    div.controls a div.plus {
        display: inline-block;
        vertical-align: top;
        line-height: 35px;
        background-color: #fc4c02;
        color: #3d3d3d;
        border-radius: 100px;
        margin: 15px;
        height: 35px;
        width: 50%;
        font-size: 10pt;
        font-weight: bold;
        text-transform: capitalize;
        cursor: pointer;
    }
    div.controls a div.no_plus {
        display: inline-block;
        vertical-align: top;
        line-height: 35px;
        border-radius: 100px;
        margin: 15px;
        height: 35px;
        width: 50%;
        font-weight: bold;
        text-transform: capitalize;
        border: 1px dotted #575757;
        color: #575757;
        font-size: 10pt;
    }
    div.controls div.holder p {
        color: #afafaf;
        font-size: 10pt;
    }
    div.controls div.holder button[type="button"] {
        display: inline-block;
        border: 0;
        vertical-align: top;
        line-height: 28px;
        background-color: #fc4c02;
        color: #3d3d3d;
        border-radius: 100px;
        margin: 7px;
        height: 30px;
        min-width: 90px;
        font-size: 10pt;
        font-weight: bold;
        text-transform: capitalize;
        cursor: pointer;
    }
}