@media only screen and (max-width: 600px) {
    .website {
        display: none;
    }
    body {
        background-color: #3d3d3d;
        font-family: Helvetica, sans-serif;
        margin: 0;
        padding: 0;
    }
    header {
        background: linear-gradient(#3d3d3d, #2d2d2d);
        border-bottom: 1px solid black;
        height: 40px;
        width: 100%;
        position: fixed;
        top: 0;
    }
    .crimey {
        font-family: Chaparral;
        font-size: 16pt;
        color: #fc4c02;
        margin: 0;
        padding: 7px;
        text-align: center;
        text-shadow: 1px 1px #111111;
    }
    #app_container #navigation {
        background: linear-gradient(#3d3d3d, #2d2d2d);
        height: 45px;
        width: 100%;
        position: fixed;
        bottom: 0;
        text-align: center;
    }
    #app_container #navigation input[type="radio"] {
        display: none;
        margin: 0;
        padding: 0;
    }
    #app_container #navigation input[type="radio"] + label {
        border-top: 1px solid #424242;
        color: #afafaf;
        cursor: pointer;
        display: inline-block;
        font-size: 11pt;
        height: 100%;
        width: 32%;
        margin: 0;
        padding: 10px 0 0 0;
    }
    #app_container #navigation input[type="radio"]:checked + label {
        background: #2d2d2d;
        border-top: 2px solid #fc4c02;
        color: #fc4c02;
    }
}
@media only screen and (min-width: 601px) {
    #app_container {
        display: none;
    }
    #navigation {
        display: none;
    }
    body {
        background-color: white;
        font-family: Helvetica, sans-serif;
        margin: 0;
        padding: 0;
    }
    header {
        background: linear-gradient(#3d3d3d, #2d2d2d);
        border-bottom: 1px solid black;
        width: 100%;
        position: fixed;
        top: 0;
    }
    .crimey {
        font-family: Chaparral;
        font-size: 16pt;
        color: #fc4c02;
        margin: 0;
        padding: 7px;
        text-shadow: 1px 1px #111111;
    }
    nav {
        width: 100%;
        text-align: right;
        color: white;
    }
}